@using CoiNYC.Domain.Resources

<header class="header" id="site-header">
    <div class="container">
        <div class="header-content-wrapper">
            <a href="~/index.html" class="woox-icon">
                <img src="~/img/coinyc_logo.png" alt="Coincy">
            </a>
            <nav id="primary-menu" class="primary-menu">

                <!-- menu-icon-wrapper -->

                <a href='javascript:void(0)' id="menu-icon-trigger" class="menu-icon-trigger showhide">
                    <span class="mob-menu--title">Menu</span>
                    <span id="menu-icon-wrapper" class="menu-icon-wrapper">
                        <svg width="1000px" height="1000px">
                            <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                            <path id="pathE" d="M 300 500 L 700 500"></path>
                            <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                        </svg>
                    </span>
                </a>

                <ul class="primary-menu-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">@R.Home</a>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "Cryptocurrency")">@R.Cryptocurrencies</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="@Url.Action("Index", "Cryptocurrency")">
                                    Bitcoin <span>BTC</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="@Url.Action("Index", "Donate")">Donate</a>
                                    </li>
                                    <li>
                                        <a href="https://www.binance.com/en/register?ref=OT51IMCI" target="_blank">How to buy Bitcoin</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/002_cryptocurrencies.html">
                                    Ethereum <span>ETH</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Support Ethereum</a>
                                    </li>
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">How to buy Ethereum</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/002_cryptocurrencies.html">
                                    Dash <span>DASH</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Support Dash</a>
                                    </li>
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">How to buy Dash</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/002_cryptocurrencies.html">
                                    Litecoin <span>LTC</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Support Litecoin</a>
                                    </li>
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">How to buy Litecoin</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/002_cryptocurrencies.html">
                                    Ripple <span>XRP</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Support XRP</a>
                                    </li>
                                    <li>
                                        <a href="~/002_cryptocurrencies.html">How to buy XRP</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/002_cryptocurrencies.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="~/#">Experts</a>
                        <ul class="sub-menu sub-menu--with-icons">
                            <li class="menu-item-has-children">
                                <a href="~/003_experts.html">
                                    <img src="~/img/if_Bitcoin_2745023.png" class="woox-icon" alt="bitcoin">
                                    Bitcoin <span>BTC</span>
                                    <svg class="woox-icon icon-arrow-right-line">
                                        <use xlink:href="~/#icon-arrow-right-line"></use>
                                    </svg>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/003_experts.html">Support Bitcoin</a>
                                    </li>
                                    <li>
                                        <a href="~/003_experts.html">How to buy Bitcoin</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/003_experts.html">
                                    <img src="~/img/if_etherium_eth_ethcoin_crypto_2844386.png" class="woox-icon" alt="bitcoin">
                                    Ethereum <span>ETH</span>
                                    <svg class="woox-icon icon-arrow-right-line">
                                        <use xlink:href="~/#icon-arrow-right-line"></use>
                                    </svg>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/003_experts.html">Support Ethereum</a>
                                    </li>
                                    <li>
                                        <a href="~/003_experts.html">How to buy Ethereum</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/003_experts.html">
                                    <img src="~/img/if_dash_dashcoin_2844383.png" class="woox-icon" alt="bitcoin">
                                    Dash <span>DASH</span>
                                    <svg class="woox-icon icon-arrow-right-line">
                                        <use xlink:href="~/#icon-arrow-right-line"></use>
                                    </svg>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/003_experts.html">Support Dash</a>
                                    </li>
                                    <li>
                                        <a href="~/003_experts.html">How to buy Dash</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/003_experts.html">
                                    <img src="~/img/if_litecion_ltc_lite_coin_crypto_2844390.png" class="woox-icon" alt="litecoin">
                                    Litecoin <span>LTC</span>
                                    <svg class="woox-icon icon-arrow-right-line">
                                        <use xlink:href="~/#icon-arrow-right-line"></use>
                                    </svg>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/003_experts.html">Support Litecoin</a>
                                    </li>
                                    <li>
                                        <a href="~/05_case_details_ver_01.html">How to buy Litecoin</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/003_experts.html">
                                    <img src="~/img/if_ripple_xrp_coin_2844396.png" class="woox-icon" alt="bitcoin">
                                    Ripple <span>XRP</span>
                                    <svg class="woox-icon icon-arrow-right-line">
                                        <use xlink:href="~/#icon-arrow-right-line"></use>
                                    </svg>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/003_experts.html">Support XRP</a>
                                    </li>
                                    <li>
                                        <a href="~/003_experts.html">How to buy XRP</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Development</a>
                                    </li>

                                    <li>
                                        <a href="~/003_experts.html">Exchange</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-mega-menu menu-item-has-children">
                        <a href="~/#">Coin Market</a>
                        <div class="megamenu megamenu-bg">
                            <div class="megamenu-row">

                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Tools</h5>
                                        </li>
                                        <li>
                                            <a href="~/005_coin_market.html">Global Charts</a>
                                        </li>
                                        <li>
                                            <a href="~/005_coin_market.html">Currency Converter</a>
                                        </li>
                                        <li>
                                            <a href="~/005_coin_market.html">Website Widgets</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Market Cap</h5>
                                        </li>
                                        <li>
                                            <a href="~/005_coin_market.html">Top 5 Coins</a>
                                        </li>

                                        <li>
                                            <a href="~/005_coin_market.html">Tokens</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Trending</h5>
                                        </li>
                                        <li>
                                            <a href="~/005_coin_market.html">Gainers and Losers</a>
                                        </li>
                                        <li>
                                            <a href="~/005_coin_market.html">Recently Added</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col4">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="menu-item-has-mega-menu menu-item-has-children">
                        <a href="~/#">Events</a>

                        <div class="megamenu megamenu-with-slider">

                            <div class="crumina-module crumina-module-slider slider-item--equal-height">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="crumina-module crumina-heading heading--with-decoration heading--h5">   <h5 class="heading-title">Upcoming Events</h5>   <div class="heading-text">Investigationes demonstraverunt lectores legere me lius      quod ii legunt faucibus ac feugiat sed lectus.   </div></div>
                                        <div class="swiper-btn-wrap">
                                            <div class="swiper-btn-prev">
                                                <svg class="woox-icon icon-line-arrow-left">
                                                    <use xlink:href="~/#icon-line-arrow-left"></use>
                                                </svg>
                                            </div>

                                            <div class="swiper-btn-next">
                                                <svg class="woox-icon icon-line-arrow-right">
                                                    <use xlink:href="~/#icon-line-arrow-right"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="swiper-container" data-show-items="3" data-prev-next="1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="~/006_events.html" class="crumina-module crumina-event-item">
                                                        <div class="event-thumb bg-event1">
                                                            <div class="overlay"></div>
                                                        </div>
                                                        <div class="event-content">
                                                            <div class="event-date">
                                                                <svg class="woox-icon icon-school-calendar">
                                                                    <use xlink:href="~/#icon-school-calendar"></use>
                                                                </svg>
                                                                March 16, 2018
                                                            </div>
                                                            <h6 class="event-title">What is Bitcoin? A Step-By-Step Guide For Beginners</h6>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="~/007_event_details.html" class="crumina-module crumina-event-item">
                                                        <div class="event-thumb bg-event2">
                                                            <div class="overlay"></div>
                                                        </div>
                                                        <div class="event-content">
                                                            <div class="event-date">
                                                                <svg class="woox-icon icon-school-calendar">
                                                                    <use xlink:href="~/#icon-school-calendar"></use>
                                                                </svg>
                                                                March 16, 2018
                                                            </div>
                                                            <h6 class="event-title">Apply them in Your Own Routines</h6>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="~/008_event_register.html" class="crumina-module crumina-event-item">
                                                        <div class="event-thumb bg-event3">
                                                            <div class="overlay"></div>
                                                        </div>
                                                        <div class="event-content">
                                                            <div class="event-date">
                                                                <svg class="woox-icon icon-school-calendar">
                                                                    <use xlink:href="~/#icon-school-calendar"></use>
                                                                </svg>
                                                                March 16, 2018
                                                            </div>
                                                            <h6 class="event-title">Is your business ready for a production blockchain rollout?</h6>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="menu-item-has-mega-menu menu-item-has-children">
                        <a href="~/#">Pages</a>
                        <div class="megamenu">
                            <div class="megamenu-row">

                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Standard Pages</h5>
                                        </li>
                                        <li>
                                            <a href="~/009_news.html">News Page</a>
                                        </li>
                                        <li>
                                            <a href="~/010_news_details.html">News Details</a>
                                        </li>
                                        <li>
                                            <a href="~/012_page_not_found.html">Not Found</a>
                                        </li>
                                        <li>
                                            <a href="~/028_typography.html">Typography</a>
                                        </li>
                                        <li>
                                            <a href="~/030_icons.html">Icons</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Elements</h5>
                                        </li>
                                        <li>
                                            <a href="~/013_pricing_tables.html">Pricing Tables</a>
                                        </li>
                                        <li>
                                            <a href="~/014_forms.html">Forms</a>
                                        </li>
                                        <li>
                                            <a href="~/015_quotes.html">Quotes</a>
                                        </li>
                                        <li>
                                            <a href="~/016_testimonial_styles.html">Testimonials</a>
                                        </li>
                                        <li>
                                            <a href="~/017_tabs.html">Tabs</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Elements</h5>
                                        </li>
                                        <li>
                                            <a href="~/018_tables.html">Tables</a>
                                        </li>
                                        <li>
                                            <a href="~/019_expert_hover_effects.html">Experts</a>
                                        </li>
                                        <li>
                                            <a href="~/029_colors.html">Colors</a>
                                        </li>
                                        <li>
                                            <a href="~/021_benefits.html">Benefits</a>
                                        </li>
                                        <li>
                                            <a href="~/022_accordion_toggle.html">Accordions</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col4">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Elements</h5>
                                        </li>
                                        <li>
                                            <a href="~/023_alerts_message.html">Alerts</a>
                                        </li>
                                        <li>
                                            <a href="~/024_progress_bars.html">Progress bars</a>
                                        </li>
                                        <li>
                                            <a href="~/025_button_styles.html">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="~/026_counters_and_timers.html">Counters</a>
                                        </li>
                                        <li>
                                            <a href="~/027_headings.html">Headings</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="@Url.Action("Secret", "Home")">@R.Login</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Secret", "Home")">@R.Signup</a>
                    </li>
                </ul>

            </nav>

            @*@await Component.InvokeAsync("CultureSwitcher")*@

        </div>

        @await Component.InvokeAsync("FinancialSlider")

    </div>


</header>