@model CoiNYC.Domain.Dashboard.DashboardDto
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>R.WaitingOrders</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-stripped" data-toggle="table" data-page-size="10" data-sortable="true"
                        data-page-list="[10,20,50]" data-pagination="true" data-side-pagination="client">
                    <thead>
                        <tr>
                            <th>@R.Code</th>
                            <th data-sortable="true">@R.Stock</th>
                            <th>@R.Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WaitingOrders)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit","Order", new { area = "Admin", id = item.Id})" target="_blank">@item.OrderNo</a>
                                </td>
                                <td>
                                    @item.OrderStatus.ToString()
                                </td>
                                <td>
                                    <span class="label label-@(item.TotalPrice > 5 ? "primary" : "danger") ">@item.TotalPrice</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>